.container {
  background-color: #000;
  color: #FFF;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile_container {
  padding-top: 70px;
}

.grid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.name_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options_container li {
  border-width: 1px solid;
  border-color: rgb(104, 104, 104);
}

.container svg {
  padding-right: 10px;
}

.options_container {
  color: #FFF;
}

.options_container svg {
  padding-right: 10px;
}