.container {
  padding-top: 55px;
  color: #FFF;
}

.config_list {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.config_list ul {
  width: 100%;
}

.container li {
  border-width: 1px solid;
  border-color: rgb(104, 104, 104);
}

.container svg {
  padding-right: 10px;
}