.main {
  color: #FFF;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  border-bottom: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 0.5px;
  height: 2.5em;
  position: fixed;
  z-index: 99999;
}

.main p {
  color: #c4c4c4;
}

.main svg {
  color: #c4c4c4
}

.grid_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}