.list_item_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.tmp_item_text span {
  width: 8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}