.container {
    padding-top: 5px;
    color: #FFF;
}

.container span {
    color: #FFF;
    font-size: 1em;
}

.container p {
    color: #FFF;
    font-size: 10px;
}

.container li {
    border-width: 1px solid;
    border-color: rgb(104, 104, 104);
}