.container_search_bar {
  width: 91vw;
  margin: 1em;
  z-index: 1;
  color: #FFF;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  line-height:50px;
  padding-top: 60px;
}

.container_tmp_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.list_item_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.container_list_a {
  padding-top: 120px;
  padding-bottom: 60px;
}

.container_list_b {
  padding-bottom: 60px;
}