.container_search_bar {
  width: 91vw;
  margin: 1em;
  z-index: 1;
  color: #FFF;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  line-height:50px;
}

.container_list {
  padding-top: 60px;
  /* position: relative; */
  padding-bottom: 60px;
}